<launch>
    <node pkg="buzzsim" type="buzzsim" name="buzzsim">
        <param name="config_path" value="$(find buzzsim)/config/world.yml" />
        <param name="world_name" value="moving" />
    </node>

    <node pkg="week_4_exercises" type="pid_node" name="pid_node" output="screen">
    </node>
</launch>
